.about-section{
    padding: 5%;
    width: 100%;
    border-top: 1px solid #80808075;
    display: flex;
    justify-content: center;
    text-align: center;
}
.about-section h1{
    font-size: 40px;
    color: grey;
}
.about-section-description{
    width: 50%;
}