.site-navbar{
    padding: 0px 50px;
    box-shadow: 0px 5px 10px -10px #000000bf;
    background-color: white;
}
li.nav-item .nav-link{
    padding: 0px 50px !important;
    border-right: 1px solid grey;
    line-height: 1.6;
}
#nav-last-item{
    border-right: none;
}
.btn-large-screen{
    display: block;
}
.btn-small-screen{
    display: none;
}
@media only screen and (max-width: 1250px) {
    .btn-small-screen{
        display: block;
    }
    .btn-large-screen{
        display: none;
    }
    li.nav-item .nav-link{
        padding: 0px 10px !important;
        border-right: none;
    }
}
@media only screen and (max-width: 767px) {
    .site-navbar{
        padding: 0px 50px 0px 10px;
    }
    li.nav-item a, button{
        margin-bottom: 20px;
    }
}