.cart-page{
    min-height: 100vh;
    overflow: hidden;
}
.cart-and-summary-section{
    padding: 3%;
}
.cart-component-shopping-cart{
    padding-right: 5%;
}
.cart-and-summary-section h1{
    font-size: 30px;
    color: grey;
}
.cart-products-section-buttons{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 50px;
}
.cart-products-section-buttons a{
    padding: 10px 70px;
    margin-right: 20px;
}